/* Custom scrollbar for GoogleReviews modal */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #E6B325;
  border-radius: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #181f2a;
  border-radius: 8px;
}
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #E6B325 #181f2a;
} 